#logo {
	height: 40px;
	width: 50px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	float: left;
}

#title {
	background-color: red;
	display: inline-block;
	width: 100%;
}

#searchBox {
	width: 700px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}

#searchButton {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}

.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	float: left;
}

.dropdown-content  {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	font-size: 14px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: gray;
}

#signInButton {
	color: yellow;
	margin-top: 20px;
	margin-bottom: 20px;
	position: absolute;
    right: 130px;
}
#kart a:link {
	color: white;
	/* margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 20px;
	float: left; */
	text-decoration: none;
}

#kart a:hover {
	color: white;
	/* margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 20px;
	float: left; */
	text-decoration: none;
}

#cartIcon {
	height: 30px;
	width: 30px;
}

